<script setup>
import FileMenu from '../components/FileMenu.vue'
import FlakeDetails from '../components/FlakeDetails.vue'


definePageMeta({
  middleware: 'auth'
})
const route = useRoute()


const { user, clear } = useUserSession()
const { data: todo } = await useFetch(`/api/todo/${route.params.id}`)


const refreshing = ref(false)
const refreshAll = async () => {
  refreshing.value = true
  try {
    await refreshNuxtData()
  } finally {
    refreshing.value = false
  }

}

const toast = useToast()

async function deleteTodo(todoToDelete) {
  await useFetch(`/api/todos/${todoToDelete.id}`, { method: 'DELETE' })
  // todo.deployments = todo.deployments.filter(t => t.id !== todoToDelete.id)
  toast.add({ title: `Deployment "${todoToDelete.name}" deleted.` })
  await refreshNuxtData()

}

const redeploying = ref(false);

const redeploy = async () => {
  redeploying.value = true
  try {
    let r = await $fetch(`/api/todo/redeploy/${route.params.id}`, {
      method: 'POST',
    })
    console.log(r);
    //   {
    //     "id": "2368d35f-f262-414c-b911-def0e0b32649",
    //     "userId": 57335981,
    //     "title": "gitlab:reedrichards/flakery",
    //     "completed": 0,
    //     "createdAt": "2024-02-13T20:29:19.000Z",
    //     "instanceID": "2566a7e0-c01d-450e-bb73-fb36ac1829e6",
    //     "name": "electric-sheep",
    //     "instanceType": null
    // }
    useToast().add({
      title: `Created Deployment ${r.name}`,
      description: 'Your flake has been deployed',
      variant: 'success'
    })
    await refreshNuxtData()
  } catch (e) {
    useToast().add({
      title: 'Error',
      description: 'There was an error deploying your flake, try again later.',
      variant: 'error'
    })
  } finally {
    redeploying.value = false
  }



}

const items = [

  {
    slot: 'deployments',
    label: 'Deployments'
  }, {
    slot: 'files',
    label: 'Files'
  }]


</script>
  
<template>
  <UCard>
    <!-- Link to the left, button to the right on one row  -->
    <div class="flex justify-between">
      <NuxtLink to="/flakes">
        <h3 class="text-lg font-semibold leading-6">
          ⬅️ Flakes
        </h3>
      </NuxtLink>

      <div>
        <UButton icon="i-heroicons-arrow-path" size="sm" color="primary" square variant="ghost" :loading="refreshing"
          class="mr-2 p-2" @click="refreshAll">Refresh</UButton>
        <UButton class="p-2" icon="i-heroicons-paper-airplane" size="sm" color="primary" :loading="redeploying" square
          @click="redeploy">
          Create Deployment
        </UButton>
      </div>
    </div>

    <FlakeDetails :flakeJson="todo" />

    <UTabs :items="items" class="w-full">

      <template #deployments="{ item }">

        <UCard>


          <ul class="divide-y divide-gray-200 dark:divide-gray-800">
            <li v-for="t of todo.deployments" :key="t.id" class="flex items-center gap-4 py-2">
              <nuxt-link class="flex-1 font-medium" :to="`/deployment/${t.id}`">{{ t.name }}</nuxt-link>

              <nuxt-link class="font-medium" :to="`/deployment/${t.id}`">
                <span>{{ todo.djson.find(
                  i => i.flakeCompute.id === t.instanceID
                ).logs.items.reduce(
                  // if i.loading, return that label, otherwise return last label
                  (acc, i) => {
                    if (acc !== undefined) {
                      return acc
                    }
                    if (i.loading || i.completed || i.error) {
                      return i.label
                    }
                    return acc
                  },
                  undefined

                ) ?? "unkown error" }}</span>
              </nuxt-link>
              <UButton color="red" variant="soft" size="2xs" icon="i-heroicons-x-mark-20-solid" @click="deleteTodo(t)" />
            </li>
          </ul>

        </UCard>
      </template>

      <template #files="{ item }">
        <FileMenu :flakeJson="todo" />
      </template>

    </UTabs>
  </UCard>
</template>
  
