<script setup>
definePageMeta({
  middleware: 'auth'
})
const loading = ref(false)
const newTodo = ref('')
const newTodoInput = ref(null)

const toast = useToast()
const { user, clear } = useUserSession()
const todos = (await useFetch('/api/todos')).data

async function addTodo() {
  if (!newTodo.value.trim()) { return }

  loading.value = true

  try {
    const todo = await $fetch('/api/todos', {
      method: 'POST',
      body: {
        title: newTodo.value,
        files: [],
        isTemplate: true,
      }
    })
    todos.value.push(todo)
    toast.add({ title: `Flake "${todo.title}" created.` })
    newTodo.value = ''
    nextTick(() => {
      newTodoInput.value?.input?.focus()
    })
  } catch (err) {
    if (err.data?.data?.issues) {
      const title = err.data.data.issues.map(issue => issue.message).join('\n')
      toast.add({ title, color: 'red' })
    }
  }
  loading.value = false
}

async function deleteTodo(todo) {
  await useFetch(`/api/todos/${todo.id}`, { method: 'DELETE' })
  todos.value = todos.value.filter(t => t.id !== todo.id)
  toast.add({ title: `Flake "${todo.title}" deleted.` })
}

const items = [[{
  label: 'Logout',
  icon: 'i-heroicons-arrow-left-on-rectangle',
  click: clear
}]]

const open = ref(false)


const prev = ref("")

const flakeURL = ref("")

const updateInput = () => {
  newTodo.value = flakeURL.value
  open.value = !open.value
}


function stripPrefix(str, prefix) {
  if (str.startsWith(prefix)) {
    return str.slice(prefix.length);
  }
  return str;
}


const toggleOpen = (e) => {
   let s = e.clipboardData.getData('text/plain')

   console.log(s)

    if (
      s.startsWith("http") ||
      s.includes("github.com")
    ) {
      // localhost:8888/?origin=newTodoInput

      prev.value = s
      // strip https or http prefix if it exists
      let newS = stripPrefix(s, "https://")
      newS = stripPrefix(s, "https://")
      // remove first .com 
      newS = newS.replace('.com', '')
      newS = newS.replace('/', ':')

      flakeURL.value = newS
  
      open.value = !open.value

    }
}



</script>

<template>
  <UCard @submit.prevent="addTodo">
    <template #header>
      <h3 class="text-lg font-semibold leading-6">
        <NuxtLink to="/">
          Flakes
        </NuxtLink>
      </h3>

      <UDropdown v-if="user" :items="items">
        <UButton color="white" trailing-icon="i-heroicons-chevron-down-20-solid">
          <UAvatar :src="`https://github.com/${user.login}.png`" :alt="user.login" size="3xs" />
          {{ user.login }}
        </UButton>
      </UDropdown>
    </template>

    <div class="flex items-center gap-2">
      <Popover v-model:open="open" :ui="{ wrapper: 'flex-1' }"  class="flex-1">
        <UInput  ref="newTodoInput" v-model="newTodo" name="todo" :disabled="loading" class="flex-1"
          placeholder="github:r33drichards/hello-flake#default" autocomplete="off" autofocus :ui="{ wrapper: 'flex-1' }"
          @paste="toggleOpen" />

        <template #panel>
          <div class="p-4" @click.stop="updateInput">
            click here to format to {{ flakeURL }}
          </div>
        </template>
      </Popover>
      <UButton type="submit" icon="i-heroicons-plus-20-solid" :loading="loading"
        :disabled="newTodo.trim().length === 0" />
    </div>

    <ul class="divide-y divide-gray-200 dark:divide-gray-800">
      <li v-for="todo of todos.filter(i => i.isTemplate)" :key="todo.id" class="flex items-center gap-4 py-2">
        <nuxt-link class="flex-1 font-medium" :to="`/flake/${todo.id}`">{{ todo.name }} <span
            class="flex-1 font-light px-2">{{ todo.title }}</span></nuxt-link>



        <UButton color="red" variant="soft" size="2xs" icon="i-heroicons-x-mark-20-solid" @click="deleteTodo(todo)" />
      </li>
    </ul>
    <!-- Check if there are no todos, and if so, show the tutorial -->
    <div v-if="todos.length === 0" class="tutorial">

      <p>Here is a short guide to get you started with flakery. It will walk you through creating a nix flake from one of
        our templates, which provisions a vm with an ssh public key, and a user named <code>alice</code>, which you will
        be able to use to ssh into that instance. </p>

      <br />
      <p>Initialize a new flake using the Flakery template:</p>

      <pre class="code-block" style="overflow-x: scroll;">

mkdir hello-flakery
cd hello-flakery
nix flake init -t gitlab:reedrichards/flakery
  </pre>

      <p>Add the SSH key to the <code>hello.nix</code> file. If you don't already have a ssh key you can generate one with
        <code>ssh-keygen</code></p>
      <pre class="code-block" style="overflow-x: scroll;">
ssh-keygen
</pre>

      <pre class="code-block" style="overflow-x: scroll;">

{
  # ... rest of config
  users.users."alice".openssh.authorizedKeys.keys = [
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFt1Kc7AuNgW0n+Zu4bMfRAWFfScLbzivxNtqC69dTS+"
  ];
}
  </pre>

      <p>create a git repo for you flake locally and add the changes</p>

      <pre>

git init
git add .
git commit -am 'hello flakery'
      </pre>

      <p>
        Create a public <a href="https://github.com/new" target="_blank" style="text-decoration: underline;">new Github
          project</a> or <a target="_blank" href="https://gitlab.com/projects/new" style="text-decoration: underline;">new
          Gitlab project</a> and push your flake to it.
      </p>
      <pre>

git branch -M main
git remote add origin git@github.com:pink/hello-flakery.git
git push -u origin main

</pre>

      <p>If your github username is <code>pink</code> and you named your project <code>hello-flake</code>, then paste your
        flake url above with the following format</p>

      <pre class="code-block" style="overflow-x: scroll;">

github:pink/hello-flakery#default
      </pre>

      <p>⚠️ Note the <code>#default</code> at the end of the url is required</p>

      <br />

      <p>after applying the flake and getting your ip address you will be able to ssh into your instance as the
        <code>alice</code> user.</p>

      <pre>

ssh alice@$YOUR_IP_ADDRESS
    </pre>



  </div>

</UCard></template>
