<template>

</template>

<script>
export default {
    props: {
        flakeJson: {
            type: Object,
            required: true
        }
    },
    async setup(props) {
        const editMode = ref(false);
        const toggleEditMode = () => {
            editMode.value = !editMode.value;
        };
        const patchFlake = async function (s) {
            console.log('PATCH', s);
            await fetch(`/api/todos/${s.flakeJson.todo.id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(s.flakeJson.todo)
            });
        }

        // const { data: t } = await useFetch(`/api/todo/${props.flakeJson.todo.templateID}`)


        const toast = useToast();
        console.log(props)
        return {
            patchFlake,
            props,
            editMode,
            toggleEditMode,
            toast,
            // t,
        };
    },
};
</script>
