<template>

</template>

<script>
import Accordion from './Accordion.vue'

export default {
  props: {
    flakeJson: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    console.log(props.flakeJson.json.logs.items)
    return {
      props,
      Accordion
    }
  }
}
</script>