<template>
    <div class="max-w-4xl mx-auto p-4">

        <transition-group name="file-list" tag="div" class="space-y-4">
            <div v-for="(file, index) in state.flakeJson.json.files" :key="`${file.id}`"
                class=" p-3 rounded-lg shadow-sm file-list-enter-active">
                <div v-if="editing[file.id]">
                    <UTextarea :rows="1" v-model="file.path" placeholder="File System Path" class="mb-2 w-full" />
                    <UTextarea resize v-model="file.content" placeholder="File Content" class="w-full" />
                    <div class="flex justify-between mt-4">
                        <UButton @click="() => {
                                editing[file.id] = false
                                dispatch(s => {
                                    let files = s.flakeJson.json.files;
                                    let index = files.findIndex(f => f.id === file.id);
                                    let f = files[index];
                                    if (f.notInDb) {
                                        files.splice(index, 1);
                                    } else {
                                        files[index] = prevState[file.id];
                                    }
                                    return { flakeJson: { json: { files: files } }, ...s };
                                })


                        }" icon="i-heroicons-arrow-left" variant="secondary">
                            Cancel Editing
                        </UButton>
                        <div>
                            <UButton @click="() => {
                                dispatch(s => {
                                    let files = s.flakeJson.json.files;
                                    files.splice(index, 1);
                                    return { flakeJson: { json: { files: files } }, ...s };
                                })
                                saveFiles(state)

                            }" icon="i-heroicons-x-mark" variant="secondary">
                                Delete
                            </UButton>
                            <UButton @click="() => {
                                saveFiles(state)
                                editing[file.id] = false
                                dispatch(s => {
                                    // make sure notInDb is not set 
                                    let files = s.flakeJson.json.files;
                                    let index = files.findIndex(f => f.id === file.id);
                                    files[index].notInDb = false;
                                    return { flakeJson: { json: { files: files } }, ...s };
                                })

                            }" icon="i-heroicons-check" class="">Save</UButton>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="flex items-center justify-between">
                        <div class="flex-1 font-medium">
                        {{ file.path }}

                        </div>
                        <div>
                        <UButton
                        class="mr-2"
                        variant="soft" size="2xs" icon="i-heroicons-pencil-square" @click="() => {
                            editing[file.id] = true
                            prevState[file.id] = { ...file }
                        }" />
                        <UButton 
                        class="mr-2"
                        color="red" variant="soft" size="2xs" icon="i-heroicons-x-mark-20-solid" @click="() => {
                            dispatch(s => {
                                let files = s.flakeJson.json.files;
                                files.splice(index, 1);
                                return { flakeJson: { json: { files: files } }, ...s };
                            })
                            saveFiles(state)
                        }" />
                        </div>

                    </div>
                </div>
            </div>
        </transition-group>
        <div class="flex gap-4 py-4 justify-end">

            <UButton @click="
                dispatch(s => {
                    let files = s.flakeJson.json.files;
                    let id = uuidv4()
                    files.push({ path: '', content: '', id: id, notInDb: true });
                    editing[id] = true
                    return { flakeJson: { json: { files: files } }, ...s };
                })" icon="i-heroicons-plus" variant="secondary">
                Add New File
            </UButton>
        </div>


    </div>
</template>
  
<script>
import { useReducer } from '../composables/reducer';
import { v4 as uuidv4 } from 'uuid';

function reducer(state, action) {
    return action(state);
}

async function putFiles(s) {
    console.log('PUT', s);
    await fetch(`/api/todo/file/${s.flakeJson.todo.instanceID}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(s.flakeJson.json)
    });
}

export default {
    props: {
        flakeJson: {
            type: Object,
            required: true
        }
    },
    setup(props) {
        const [state, dispatch] = useReducer(reducer, {
            flakeJson: props.flakeJson
        });

        const editing = ref({})
        const prevState = ref(
            {}
        )

        const toast = useToast();

        async function saveFiles(s) {
            console.log("files to save", s);
            await putFiles(s);
            toast.add({
                title: 'Files Saved',
                description: 'Files have been saved',
                status: 'success',
                duration: 5000,
                isClosable: true,
            });
        }

        return {
            dispatch,
            state,
            toast,
            saveFiles,
            uuidv4,
            editing,
            prevState,
        };
    },
};
</script>

<style scoped>
.file-list-enter-active,
.file-list-leave-active,
.file-list-move {
    transition: all 0.5s ease;
}

.file-list-enter,
.file-list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
</style>
