<template>
    <UCard>


        <div v-if="editMode" class="flex justify-end mb-4">
            <UButton @click="async () => {
                toggleEditMode()
                await refreshNuxtData()
            }" icon="i-heroicons-x-mark" variant="ghost" class="mb-2 px-4 py-1">Cancel</UButton>
            <UButton @click="() => {
                patchFlake(props)
                toggleEditMode()
                toast.add({
                    title: 'Details updated',
                    description: 'Details have been saved',
                    status: 'success',
                    duration: 5000,
                    isClosable: true,
                })
            }" icon="i-heroicons-check" class="mb-2 px-4 py-1">Save</UButton>
        </div>

        <div class="grid grid-cols-[auto_minmax(0,_1fr)] gap-4">
            <!-- Name -->
            <h3 class="text-lg font-semibold leading-tight">
                Name:
            </h3>

            <div class="flex items-center justify-between">

                <UTextarea v-if="editMode" :rows="1" v-model="props.flakeJson.todo.name"
                    class="flex-grow mt-1 border-gray-300 text-sm font-normal" />

                <div v-else class="flex-grow mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2 mr-2">
                    {{ props.flakeJson.todo.name }}
                </div>
                <div>
                    <UButton v-if="!editMode" @click="toggleEditMode" icon="i-heroicons-pencil-square" variant="ghost"
                        class="mb-2 mx-2 px-4 py-1">Edit</UButton>

                </div>
            </div>

            <!-- Other sections remain unchanged -->
            <!-- Flake -->
            <div class="flex items-center">
                <h3 class="text-lg font-semibold leading-tight">
                    Flake:
                </h3>
            </div>
            <UTextarea v-if="editMode" :rows="1" v-model="props.flakeJson.todo.title"
                class="flex-grow mt-1 border-gray-300 text-sm font-normal" />

            <div v-else class="flex-grow mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2">
                {{ props.flakeJson.todo.title }}
            </div>


            <!-- Instance Type -->
            <div class="flex items-center">
                <h3 class="text-lg font-semibold leading-tight">
                    Instance Type:
                </h3>
            </div>

            <UTextarea v-if="editMode" :rows="1" v-model="props.flakeJson.todo.instanceType"
                class="flex-grow mt-1 border-gray-300 text-sm font-normal" />

            <div v-else class="flex-grow mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2">
                {{ props.flakeJson.todo.instanceType ? props.flakeJson.todo.instanceType : "t3.small" }}
            </div>

        </div>
    </UCard>
</template>

<script>
export default {
    props: {
        flakeJson: {
            type: Object,
            required: true
        }
    },
    setup(props) {
        const editMode = ref(false);
        const toggleEditMode = () => {
            editMode.value = !editMode.value;
        };
        const patchFlake = async function (s) {
            console.log('PATCH', s);
            await fetch(`/api/todos/${s.flakeJson.todo.id}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(s.flakeJson.todo)
            });
        }

        const toast = useToast();
        console.log(props )
        return {
            patchFlake,
            props,
            editMode,
            toggleEditMode,
            toast,
        };
    },
};
</script>
