<script setup>
    definePageMeta({
      middleware: 'auth'
    })

    const editMode = ref(false);
    const toggleEditMode = () => {
      editMode.value = !editMode.value;
    };
    const patchFlake = async function (s) {
      console.log('PATCH', s);
      await fetch(`/api/todos/${s.flakeJson.todo.id}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(s.flakeJson.todo)
      });
    }
    const route = useRoute()

    const { user, clear } = useUserSession()
    const { data: todo } = await useFetch(`/api/todo/${route.params.id}`)

    const { data: t } = await useFetch(`/api/todo/${todo.value.todo.templateID}`)

    const refreshing = ref(false)
    const refreshAll = async () => {
      refreshing.value = true
      try {
        await refreshNuxtData()
      } finally {
        refreshing.value = false
      }

    }

    const doUpdate = async () => {
      const toast = useToast();
      await patchFlake(props)
      toggleEditMode()
      toast.add({
        title: 'Details updated',
        description: 'Details have been saved',
        status: 'success',
        duration: 5000,
        isClosable: true,
      })
    }
    </script>

<template>
  <UCard>
    <div class="flex justify-between">
      <NuxtLink :to="`/flake/${todo.todo.templateID}`">
        <h3 class="text-lg font-semibold leading-6">
          ⬅️ Deployment for: {{ t.todo.name }}
          <span class="text-gray-500">
          </span>
        </h3>
      </NuxtLink>

      <UButton icon="i-heroicons-arrow-path" size="sm" color="primary" square variant="ghost" :loading="refreshing"
        class="mr-2 p-2" @click="refreshAll">Refresh</UButton>
    </div>
    <UCard>

      <div v-if="editMode" class="flex justify-end mb-4">
        <UButton @click="async () => {
          toggleEditMode()
          await refreshNuxtData()
        }" icon="i-heroicons-x-mark" variant="ghost" class="mb-2 px-4 py-1">Cancel</UButton>
        <UButton @click="doUpdate" icon="i-heroicons-check" class="mb-2 px-4 py-1">Save</UButton>
      </div>

      <div class="grid grid-cols-[auto_minmax(0,_1fr)] gap-4">
        <!-- Name -->
        <h3 class="text-lg font-semibold leading-tight">
          Name:
        </h3>

        <div class="flex items-center justify-between">

          <UTextarea v-if="editMode" :rows="1" v-model="todo.name"
            class="flex-grow mt-1 border-gray-300 text-sm font-normal" />

          <div v-else class="flex-grow mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2 mr-2">
            {{ todo.todo.name }}
          </div>
          <div>
            <UButton v-if="!editMode" @click="toggleEditMode" icon="i-heroicons-pencil-square" variant="ghost"
              class="mb-2 mx-2 px-4 py-1">Edit</UButton>
          </div>
        </div>



        <!-- IP Address -->
        <div class="flex items-center">
          <h3 class="text-lg font-semibold leading-tight">
            IP Address:
          </h3>
        </div>
        <div class="mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2">
          {{ todo.json.flakeCompute.ip ? todo.json.flakeCompute.ip : 'Waiting for IP' }}
        </div>

              <!-- Domain -->
      <div class="flex items-center">
          <h3 class="text-lg font-semibold leading-tight">
            Domain:
          </h3>
        </div>
        <div class="mt-1 rounded-md border-gray-300 shadow-sm text-sm font-normal p-2">
          <NuxtLink :to="`https://${todo.json.flakeCompute.domain}`" external target="_blank">{{ `https://${todo.json.flakeCompute.domain}` }}</NuxtLink>
        </div>
      </div>

    </UCard>
    <UCard class="py-4">
      <h3 class="text-lg font-semibold leading-6">
        Logs
      </h3>
      <Accordion :items="todo.json.logs.items" class="py-4">
        <template #item="{ item }">
          <pre class="code-block" style="overflow-x: scroll;">
{{ item.content }}
      </pre>
        </template>
      </Accordion>
    </UCard>
  </UCard>
</template>
