<script setup lang="ts">
const host = useRequestURL().host
let hosting = { url: 'https://pages.cloudflare.com', title: 'CloudFlare Pages' }
if (host.includes('.netlify.app')) {
  hosting = { url: 'https://www.netlify.com/products/#netlify-edge-functions', title: 'Netlify Edge Functions' }
} else if (host.includes('.vercel.app')) {
  hosting = { url: 'https://vercel.com/features/edge-functions', title: 'Vercel Edge Functions' }
} else if (host.includes('.lagon.dev')) {
  hosting = { url: 'https://lagon.app', title: 'Lagon' }
} else if (host.includes('.deno.dev')) {
  hosting = { url: 'https://deno.com/deploy', title: 'Deno Deploy' }
}
const isD1 = host.includes('nuxt-todos-edge.pages.dev')
const { loggedIn } = useUserSession()
</script>

<template>
  <UCard>
    <template #header>
      <h3 class="text-lg font-semibold leading-6">
        Flakery
      </h3>
      <div>
        <UButton
        to="https://getflakery.github.io/docs/"
        icon="i-heroicons-book-open"
        label="Documentation"
        color="black"
        class="mx-4"
      />
      <UButton
        v-if="!loggedIn"
        to="/api/auth/github"
        icon="i-simple-icons-github"
        label="Login with GitHub"
        color="black"
        external
      />
      <UButton
        v-else
        to="/flakes"
        icon="i-heroicons-list-bullet"
        label="Go to Flakes"
        color="black"
      />
      </div>

    </template>
    <p class="font-medium">
      Welcome to Flakery - Nix Flakes Deployment, Simplified!
    </p>

    <p>
Flakery is your no-frills solution to get Nix Flakes projects up and running fast.
</p>
<p>

How It Works
</p>
<p>

<b>Give Us Your Nix Flake URL:</b> Just drop the URL of your Nix Flake here. It's the only step to get started.
</p>
<p>

<b>We Spin Up a VM:</b> Our straightforward setup applies your Nix Flake to a virtual machine. No bells and whistles, just the essentials.
</p>
<p>

<b>Get Your IP Address:</b> Once we're done, you'll get an IP address. That's your key to access your freshly deployed project.
    </p>

  </UCard>
</template>
